
choice
	prompt "SoC type"
	depends on MACH_JZ47XX
	default MACH_JZ4740

config MACH_JZ4740
	bool "JZ4740"
	select JZ47XX_TIMER_CSRC
	select JZ47XX_TIMER_CEVT
	select JZ47XX_GPIOV2

config MACH_JZ4750L
	bool "JZ4750L"
	select JZ47XX_OST
	select JZ47XX_GPIOV2

config MACH_JZ4760
	bool "JZ4760"
	select JZ47XX_OST
	select JZ47XX_GPIOV2

endchoice

source "arch/mips/jz47xx/jz4740/Kconfig"
source "arch/mips/jz47xx/jz4750/Kconfig"
source "arch/mips/jz47xx/jz4760/Kconfig"

config HAVE_PWM
	bool

config JZ47XX_TIMER_CSRC
	bool

config JZ47XX_TIMER_CEVT
	bool

config JZ47XX_OST
	bool

config JZ47XX_GPIOV2
	bool
