choice
	prompt "Machine type"
	depends on MACH_JZ4740
	default JZ4740_QI_LB60

config JZ4740_QI_LB60
	bool "Qi Hardware Ben NanoNote"

config JZ4740_N516
	bool "Hanvon n516 eBook reader"
	select SOC_JZ4740

config JZ4740_N526
	bool "Hanvon n526 eBook reader"
	select SOC_JZ4740

endchoice

config HAVE_PWM
	bool
